{% extends "app/blank.html" %}
{% block content %}
{% load static %}

<div class="site-blocks-cover inner-page-cover overlay"
     style="background-image: url({% static '/app/images/img_01.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h1>{{event.name}}</h1>
                        <p class="mb-0">{{event.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">

                <div class="mb-5 border-bottom pb-5">
                    <p><img src="{% static '/app/images/event_01.png' %}" alt="Image" class="img-fluid mb-4"></p>
                    <h3>Description</h3>
                    <p>{{event.description}}</p>
                </div>

            </div>


            <div class="col-lg-4 ml-auto">
                <form method="post" class="p-1 bg-white" enctype='multipart/form-data'>


                    {% csrf_token %}
<!--                    <div class="image-container" id="id_image_container">-->
<!--                        <img class="border border-dark rounded-circle img-fluid mx-auto profile-image"-->
<!--                             src="{% static '/app/images/person_1.jpg' %}">-->
<!--                        {{ form.profile_image }}-->
<!--                    </div>-->
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6">
                            <label class="text-black">Last Name</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black">Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black">Phone</label>
                            {{ form.phone_number }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black">Upload Image</label>
                            {{ form.profile_image }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button class="btn btn-primary text-white" type="submit" name="event" value="{{event.id}}">
                                Register
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}